@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Titillium+Web:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: auto;
    background-color: rgb(225, 228, 231);
} 



 .header-logo {
        font-family: 'Open Sans Condensed', sans-serif; 
        font-size: 4rem;
        text-align: center; 
        margin:0;
        padding:0;
       
         
}

.header-menu{
       display: flex;
       justify-content: space-around;
       font-family: 'Open Sans Condensed', sans-serif;
       font-size: smaller;
       text-align: center;
       padding:0;
       list-style-type: none;
       align-items: center;
       margin-top:5px;
}

.header-menu li a:hover {
    border: 1px solid var(--main-color);

}
.header-menu li a {
    text-decoration: none;
    color: var(--main-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid transparent;
    margin-top: 3px;
}
       

h5 {
     text-align: center;
     font-size: x-small;
     margin: 0;
     font-family:'Titillium Web', sans-serif;
}

.header-menu li a:hover {
    border: 1px solid black;
    border-radius: 1em;
    background-color: rgb(199, 208, 228) ;
}

.header-banner-1 {
    background-image: url(../img/acc-square.jpg);
    min-height: 400px;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;;
    padding: 0;
    margin-top:15px;
}
 
.header-banner-1 p {
    font-size:small;
    padding:1px;
    margin:1px;
}

.header-banner-2{
    width: 100%;
    height: 400px;
    /* background-color: brown; */
    display: flex;
   align-items: center;
}

.header-banner-2 img{
    width: 40vw;
    height: 300px;
    border-radius: 8em;
}
.collaboration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    /* background-color: blue; */
    font-family:'Titillium Web', sans-serif;
}

.header-banner-2 p {
    display:flex;
    justify-content: center;
    font-size: small;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}


h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    text-align: right;
    margin-top: 60px;
    margin-bottom: 0px;
    padding-right: 100px;
  }
  
  p {
      font-family:'Titillium Web', sans-serif;
      font-size:larger;
      text-align: right;
      padding-right: 30px;
      padding-top: 10px;
      margin-top:0;
  }












.card-body{
    font-family:'Titillium Web', sans-serif;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.name-product{
    width: 100%;
    height: 40px;
  
    display: flex;
    justify-content: center;
    align-items: center;

}
.price{
    width: 100%;
    height: 40px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-button{
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-button button{
    width:150px;
    height: 40px;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    border: solid black 1px;
}
.line{
    margin: 0 auto;
    width: 200px;
    height: 2px;
    background-color: black;
}

/* h3{
    font-family:'Titillium Web', sans-serif;
    padding-left:100px;
    font-size: larger;
    padding-top: 0px;
    padding-bottom:100px;
} */

.button {
    border-color: black;
    color: black;
    display: flex;
    justify-content: center;
    
   
}

.button:hover{
    background-color: black;
    color: white;
}

.accessory-card img {
  display: block;
  width:100%;
}

 .banner-3 img {
   width:450px;
   height:550px;
}  

.banner-3 h1 {
     background: rgb(236, 241, 245);
    display: flex;
    text-align: center;

}

.banner-3 {
    /* background-color: green; */
    width:100%;
    height:700px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
} 

.products-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: space-around;
}

.card-img-top {

    border-radius: 10em;
}

.accessory-card img {
    height:300px;
    /* background-color: red; */
}

.inner-text p {
    padding-top: 100px;
    padding-right:0px;
    padding-left:4px;
}

.innertext h4 {
    
    text-align: end;
}

.signature p {
    
    font-family: 'Dancing Script', cursive;
}

.contacts h1 {
    text-align: center;
    font-family:'Titillium Web', sans-serif;

}

.contacts {
    display: flex;
    justify-content: center;
    /* font-family:'Titillium Web', sans-serif; */
    padding-bottom: 100px;
    background-color: rgb(245, 246, 247);
}



.for-calls h2 {
    text-align:left ;
    padding-right:50px;
    
}



.for-networks{
     padding-right:0;
     padding-top:50px;
     font-family:'Titillium Web', sans-serif;
     
} 

.for-calls {
    padding-top:50px;
}

.for-calls h3 {
    font-family:'Titillium Web', sans-serif
}

.fill-the-form {
    /* background-color: violet; */
    height:400px;
}

.fill-the-form p {
        text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:230px;
    margin-top: 50px;;
    align-items: center;
    width: 400px;
}

.form input {
    border-radius: 5em;
    border-color:rgb(63, 62, 62) ;
    width:300px;
    height:30px;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
}

.form button {

    width: 50%;
    height: 40px;
    margin-top: 20px;
    align-items: center;
    border-radius: 5em;
}

/* .basket {
    width: 30px;
    height: 30px;

    
}

.instagram {
    width: 35px;
    height: 35px;
 
}

.top-header {
    align-items: center;
}
 */ 

 @media(max-width: 830px ) {
    .contacts h1 {
        text-align: center;
        font-family:'Titillium Web', sans-serif; 
        font-size:small;

    }
    .products-container{
        display: grid; 
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        justify-content: space-around;
        align-items: center; 
    }
      
       .banner-3 img {
         width:300px;
         height:400px;
      }  
      
      .banner-3 h1 {
          background: rgb(236, 241, 245);
          display: flex;
          text-align: center;
      
      }
      
      .banner-3 {
          /* background-color: green; */
          width:100%;
          height:700px;
          display: flex;
          justify-content: space-between;
          padding-top: 100px;
      } 

     .inner-text p {
        padding-top: 100px;
        padding-right:0px;
        padding-left:4px;
        font-size: smaller;
    }
    
    .innertext h4 {
        
        text-align: end;
        font-size: smaller;
    }
    
    .signature p {
        
        font-family: 'Dancing Script', cursive;
        font-size: smaller;
    }
      
    .contacts h1 {
        text-align: center;
        font-family:'Titillium Web', sans-serif;
        font-size: smaller;
    
    }
    
    .contacts {
        display: flex;
        justify-content: center;
        /* font-family:'Titillium Web', sans-serif; */
        padding-bottom: 100px;
        background-color: rgb(245, 246, 247);
    }
    
    
    
    .for-calls h2 {
        text-align:left ;
        padding-right:50px;
        
    }
    
    
    
    .for-networks{
         padding-right:0;
         padding-top:50px;
         font-family:'Titillium Web', sans-serif;
         
    } 
    
    .for-calls {
        padding-top:50px;
    }
    
    .for-calls h3 {
        font-family:'Titillium Web', sans-serif
    }
    
    .fill-the-form {
        /* background-color: violet; */
        height:400px;
    }
    
    .fill-the-form p {
            text-align: center;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left:230px;
        margin-top: 50px;;
        align-items: center;
        width: 400px;
    }
    
    .form input {
        border-radius: 5em;
        border-color:rgb(63, 62, 62) ;
        width:300px;
        height:30px;
        background-color: rgb(235, 235, 235);
        display: flex;
        justify-content: center;
    }
    
    .form button {
    
        width: 50%;
        height: 40px;
        margin-top: 20px;
        align-items: center;
        border-radius: 5em;
    }
  }